.container {
  margin-top: 1rem;
}

.wrapper {
  padding: 0 1rem;
}

.header {
  margin: 0 auto;

}

.header__wrapper {
  padding: 0rem 1rem;
}

.body {
  margin-top: 2rem;

}

.body__wrapper {
  padding: 1rem 1rem;
}
